.widget.first
  .head
    %h5.iUser2 Volunteer Form
  = form_for @volunteer, :html => { :class => "mainForm" } do |f|
    -if @volunteer.errors.any?
      .rowElem
        .nNote.nFailure.hideit
          %div
            = "#{pluralize(@volunteer.errors.count, "error")} prohibited this volunteer from being saved:"
            %ul
              - @volunteer.errors.full_messages.each do |msg|
                %li= msg

    .rowElem
      %p Enter volunteer details in the form below. Asterisks (<span class="required">*</span>) indicate required fields.
    .rowElem
      = f.label :first_name
      = mark_required @volunteer, :first_name
      .formRight
        = f.text_field :first_name
      .fix
    .rowElem
      = f.label :last_name
      = mark_required @volunteer, :last_name
      .formRight
        = f.text_field :last_name
      .fix
    .rowElem
      = f.label :address
      .formRight
        = f.text_field :address
      .fix
    .rowElem
      = f.label :city
      .formRight.address
        = f.text_field :city, :class => 'city'
        = f.collection_select :state_id, State.all, :id, :name, :prompt => 'select state'
        = f.label :zip_code
        = f.text_field :zip_code, :class => 'zip_code'
      .fix
    .rowElem
      = f.label :email
      = mark_required @volunteer, :email
      .formRight
        = f.text_field :email
      .fix
    .rowElem
      = f.label :phone
      = mark_required @volunteer, :phone
      .formRight
        = f.text_field :phone
      .fix
    .rowElem
      = f.label :notes
      = mark_required @volunteer, :notes
      .formRight
        = f.text_area :notes
      .fix
    .rowElem.actions
      = link_to '&laquo; Back to List'.html_safe, volunteers_path, :class => 'button greyishBtn'
      = f.submit 'Save', :class => 'greenBtn submitForm'
      .fix
