.widget.first
  .head
    %h5.iUser2 Volunteer Form
  = form_for @volunteer, :html => { :class => "mainForm" } do |f|
    -if @volunteer.errors.any?
      .rowElem
        .nNote.nFailure.hideit
          %div
            %strong Error:
            = "#{pluralize(@volunteer.errors.count, "error")} prohibited this volunteer from being saved:"
            %ul
              - @volunteer.errors.full_messages.each do |msg|
                %li= msg
    
    .rowElem
      = f.label :first_name
      .formRight
        = f.text_field :first_name
    .rowElem
      = f.label :last_name
      .formRight
        = f.text_field :last_name
    .rowElem
      = f.label :address
      .formRight
        = f.text_field :address
    .rowElem
      = f.label :city
      .formRight
        = f.text_field :city
    .rowElem
      = f.label :state_id
      .formRight
        = f.number_field :state_id
    .rowElem
      = f.label :zip_code
      .formRight
        = f.text_field :zip_code
    .rowElem
      = f.label :email
      .formRight
        = f.text_field :email
    .rowElem
      = f.label :phone
      .formRight
        = f.text_field :phone
    .rowElem
      = f.label :notes
      .formRight
        = f.text_area :notes
    .rowElem
      = link_to 'Back', volunteers_path, :class => 'button blueBtn'
      = f.submit 'Save', :class => 'greenBtn submitForm'
      .fix
