- @content_for_title = 'Manage Volunteers'
.table.first
  .head
    %a{:href => new_volunteer_path, :class => 'btnIconLeft greenBtn' }
      = image_tag("brain/icons/light/add.png", :class => 'icon')
      %span Add Volunteer
  %table.resize.display#volunteers
    %thead
      %tr
        %th Last name
        %th First name
        %th Email
        %th Phone
        %th.nosort{:style => 'width: 5%'} View
        %th.nosort{:style => 'width: 5%'} Edit
        %th.nosort{:style => 'width: 5%'} Delete
    %tbody
      - @volunteers.each do |volunteer|
        %tr.gradeA
          %td= volunteer.last_name
          %td= volunteer.first_name
          %td= volunteer.email
          %td= volunteer.phone
          %td.center.icon= link_to '', volunteer, :class => 'button iCamera', :title => 'View'
          %td.center.icon= link_to '', edit_volunteer_path(volunteer), :class => 'button iPencil', :title => 'Edit'
          %td.center.icon= link_to '', volunteer, :confirm => 'Are you sure you want to delete this volunteer? This action cannot be undone.', :method => :delete, :class => 'button iTrash', :title => 'Delete'
