
%p
  %b First name:
  = @volunteer.first_name
%p
  %b Last name:
  = @volunteer.last_name
%p
  %b Email:
  = @volunteer.email
%p
  %b Phone:
  = @volunteer.phone
%p
  %b Address:
  = @volunteer.address
%p
  %b City:
  = @volunteer.city
%p
  %b State:
  = @volunteer.state_id
%p
  %b Zip code:
  = @volunteer.zip_code
%p
  %b Notes:
  = @volunteer.notes
%p
  %b User:
  = @volunteer.user_id

= link_to 'Edit', edit_volunteer_path(@volunteer)
\|
= link_to 'Back', volunteers_path
