- @content_for_title = 'View Volunteer'

.widget.first
  .head
    %h5.iUser2 #{@volunteer.first_name} #{@volunteer.last_name}
  .body
    .widgets
      %h4.red Contact Information:
      .left
        -if @volunteer.full_address.to_s != ''
          %h5 Address:
          = @volunteer.full_address.html_safe
      .right
        -if @volunteer.email.to_s != ''
          %h5 Email:
          = @volunteer.email
        -if @volunteer.phone.to_s != ''
          %h5 Phone:
          = @volunteer.phone_formatted
      .fix
    .widgets
      %h4.red Notes:
      = line_break(@volunteer.notes)

    .widgets
      %h4.red Activity Log:
      This feature is coming soon. Here, you will be able to see other times this volunteer has participated in an event.

    .widgets.actions
      = link_to '&laquo; Back to List'.html_safe, volunteers_path, :class => 'button seaBtn'
      = link_to 'Edit', edit_volunteer_path(@volunteer), :class => 'button greenBtn float_right'
      .fix