.widget.first
  .head
    %h5.iUser2 Worship Log Form
  = form_for @service, :html => { :class => "mainForm" } do |f|
    -if @service.errors.any?
      .rowElem
        .nNote.nFailure.hideit
          %div
            = "#{pluralize(@service.errors.count, "error")} prohibited this worship log from being saved:"
            %ul
              - @service.errors.full_messages.each do |msg|
                %li= msg

    .rowElem
      %p Enter worship log details in the form below. Asterisks (<span class="required">*</span>) indicate required fields.
    .rowElem
      = f.label :sort, 'Service #', :class => 'leftDir', :'original-title' => 'instructions!'
      = mark_required @service, :sort
      .formRight
        = f.select :sort, (1..5).collect {|i| [ i, i ] }, { :include_blank => false }
      .fix
    .rowElem
      = f.label :date
      .formRight
        = f.text_field :date, :class => 'datepicker'
      .fix
    .rowElem
      = f.label :lectionary_week_id
      .formRight
        = f.select :lectionary_week_id, LectionaryWeek.all {|week| [ week.id, week.id ] }, { :prompt => 'select week&nbsp;&nbsp;'.html_safe }
      .fix

    .rowElem
      .widget.first
        %ul.tabs
          %li
            %a{:href => "#sermon"} Sermon
          %li
            %a{:href => "#announcements"} Announcements
          %li
            %a{:href => "#volunteers"} Volunteers
          %li
            %a{:href => "#music"} Music
          %li
            %a{:href => "#readings"} Readings
          %li
            %a{:href => "#liturgical"} Liturgical Notes

        .tab_container
          #sermon.tab_content
            .rowElem
              = f.label :title
              = mark_required @service, :title
              .formRight
                = f.text_field :title
              .fix
            .rowElem
              = f.label :description, 'Notes'
              = mark_required @service, :description
              .formRight
                = f.text_area :description
              .fix
            .fix
          #volunteers.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
          #announcements.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
          #readings.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
          #liturgical.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
          #volunteers.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
          #music.tab_content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis. Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi. Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed, mattis iaculis orci. Cras mollis adipiscing metus, rhoncus facilisis arcu sodales sit amet.
        .fix
    .rowElem.actions
      = link_to '&laquo; Back to List'.html_safe, services_path, :class => 'button greyishBtn'
      = f.submit 'Save', :class => 'greenBtn submitForm'
      .fix
