- @content_for_title = 'Manage Worship Logs'

- @crud_columns = 0

.table.first
  .head
    -if can? :create, Service
      %a{:href => new_service_path, :class => 'btnIconLeft greenBtn' }
        = image_tag("brain/icons/light/add.png", :class => 'icon')
        %span Add New Log
  %table.resize.display#services
    %thead
      %tr
        %th{:style => 'width: 20%;'} Date - Service #
        %th Lectionary Week
        %th Sermon Title
        -if can? :read, Service
          - @crud_columns += 1
          %th.nosort{:style => 'width: 5%'} View
        -if can? :update, Service
          - @crud_columns += 1
          %th.nosort{:style => 'width: 5%'} Edit
        -if can? :destroy, Service
          - @crud_columns += 1
          %th.nosort{:style => 'width: 5%'} Delete
    %tbody
      - @services.each do |service|
        %tr.gradeA
          %td #{service.date.strftime('%Y-%m-%d')} - #{service.sort}
          %td= service.lectionary_week_string
          %td= service.title
          -if can? :read, service
            %td.center.icon= link_to '', service, :class => 'button iCamera', :title => 'View'
          -if can? :update, service
            %td.center.icon= link_to '', edit_service_path(service), :class => 'button iPencil', :title => 'Edit'
          -if can? :destroy, service
            %td.center.icon= link_to '', service, :confirm => 'Are you sure you want to delete this service? This action cannot be undone.', :method => :delete, :class => 'button iTrash', :title => 'Delete'

:javascript
  $(function() {
    $("table#services").dataTable({
      bJQueryUI: true,
      sPaginationType: "full_numbers",
      sDom: "<f>t<\"F\"lp>",
      aoColumns: #{datatable_columns_with_authentication(3, @crud_columns)}
    });
  });