- @content_for_title = 'Manage Worship Logs'

%table
  %tr
    %th Title
    %th Description
    %th User
    %th Sort
    %th Started at
    %th
    %th
    %th

  - @services.each do |service|
    %tr
      %td= service.title
      %td= service.description
      %td= service.user_id
      %td= service.sort
      %td= service.started_at
      %td= link_to 'Show', service
      %td= link_to 'Edit', edit_service_path(service)
      %td= link_to 'Destroy', service, :confirm => 'Are you sure you want to delete this log? This action cannot be undone.', :method => :delete
