- @content_for_title = 'Forgot your password?'

.loginPanel
  .head
    %h5.iUser #{page_title}
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'mainForm' }) do |f|
    %fieldset
      .loginRow.noborder
        = f.label :email
        .loginInput
          = f.text_field :email
        .fix
      .loginRow
        = f.submit 'Send me reset password instructions', :class => 'greenBtn submitForm'
        .fix

.loginPanel
  .head
    %h5.iSettings Options
  .body
    = render :partial => "devise/shared/links"
  .fix