= form_for @setting do |f|
  -if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :lectionary_order_id
    = f.text_field :lectionary_order_id
  .field
    = f.label :hymn_count
    = f.text_field :hymn_count
  .field
    = f.label :hymnal_id
    = f.text_field :hymnal_id
  .field
    = f.label :bible_translation_id
    = f.number_field :bible_translation_id
  .actions
    = f.submit 'Save'
