%p#notice= notice

%p
  %b User:
  = @setting.user_id
%p
  %b Lectionary order:
  = @setting.lectionary_order_id
%p
  %b Hymn count:
  = @setting.hymn_count
%p
  %b Hymnal:
  = @setting.hymnal_id
%p
  %b Bible translation:
  = @setting.bible_translation_id

= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to 'Back', settings_path
