- @content_for_title = 'Home'
- @content_for_title = 'Dashboard' if user_signed_in?

-if user_signed_in?
  .stats
    %ul
      %li
        %a.count.grey{:href => services_path} #{@log_count}
        %span
          worship
          %br logs
      %li
        %a.count.blue{:href => "#"} #{@week_count}
        %span weeks
      %li
        %a.count.green{:href => "#"} #{@year_count}
        %span years
      %li.last
        %a.count.red{:href => volunteers_path} #{@volunteer_count}
        %span Volunteers
    .fix

.widget.first
  .head
    %h5.iUser #{page_title}
  .body
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales dolor eget massa faucibus id porttitor velit mollis. Donec quis felis purus, nec feugiat felis.
    %p Vivamus auctor, augue ac ullamcorper blandit, libero eros rhoncus libero, tempus pulvinar ante est quis sapien. In placerat velit non nunc pharetra malesuada quis sed mi.
    %p Maecenas quis felis tellus. Ut malesuada dictum rutrum. Cras enim risus, porta vel rhoncus sed, lobortis at libero. Maecenas dapibus, leo in pharetra euismod, justo turpis.
    %p Commodo augue, vel fringilla turpis mauris quis magna. Etiam vulputate diam a massa viverra at malesuada erat tristique. Pellentesque orci dolor, cursus vitae gravida sed.