!!!
%html
  %head
    %title Worship Log | #{page_title}
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name => "description", :content => meta_description}
    %meta{:name => "keywords", :content => meta_keywords}
    %meta{:name => "author", :content => "William Youmans"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "/apple-touch-icon-72x72.png"}
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "/apple-touch-icon-114x114.png"}
    %link{:href => "//fonts.googleapis.com/css?family=Cuprum", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags

  %body{:id => params[:controller]}

    / navigation
    #topNav
      .fixed
        .wrapper
          .welcome

            - if user_signed_in?
              = link_to image_tag("brain/userPic.png"), edit_user_registration_path

              %span Howdy, #{current_user.first_name} #{current_user.last_name}!
            - else
              %span Welcome to Worship Log

          .userNav
            %ul
              = render 'shared/main_navigation'
          .fix

    / Header
    - if user_signed_in?
      #header.wrapper
        .logo
          = link_to image_tag("template/logoLarge.png"), root_path
        .middleNav
          %ul
            = render 'shared/secondary_navigation'
        .fix

    / Content wrapper
    - if user_signed_in?
      .wrapper
        - if user_signed_in?
          = render 'shared/left_navigation'

        .content
          .title
            %h5 #{page_title}
          - flash.each do |name, msg|
            .nNote.hideit.first{:class => "n_#{name}"}
              = content_tag :p, msg, :id => "flash_#{name}" if msg.is_a?(String)
          - if defined? resource
            = devise_error_messages!
          = yield
        .fix
    - else
      .loginWrapper
        .loginLogo
          = link_to image_tag("template/logoLarge.png"), root_path
        - flash.each do |name, msg|
          .nNote.hideit.first{:class => "n_#{name}"}
            = content_tag :p, msg, :id => "flash_#{name}" if msg.is_a?(String)
        - if defined? resource
          = devise_error_messages!
        = yield

    #footer
      .wrapper
        .welcome
          %span &copy; #{Date.today.strftime('%Y')} Worship Log
        .userNav
          %ul
            %li
              %a{:href => public_about_path}
                = image_tag("brain/icons/light/info.png")
                %span About
            %li
              %a{:href => public_contact_path}
                = image_tag("brain/icons/light/create.png")
                %span Contact
            %li
              %a{:href => public_privacy_path}
                = image_tag("brain/icons/light/locked2.png")
                %span Privacy
            %li
              %a{:href => public_help_path}
                = image_tag("brain/icons/light/help.png")
                %span Help